{% extends "layout.html" %}
{% block heading %}
  {{ super() }}
{% block content %}
{% endblock %}
<div class="container">
   <div class="row">
     <div class="col">
       <h2> {{my_string}}</h2>
       <br>
     </div>
   </div>
   <div class="row">
     <div class="col">
       <p><strong>{{my_list1[1]}}</strong></p>
       <ul><strong>
         {% for n in my_list1 %}
         <li>{{n}}</li>
         {% endfor %}</strong>
       </ul>
       <br>
     </div>
     <div class="col">
       <p><strong>{{my_list2[1]}}</strong></p>
       <ul><strong>
         {% for n in my_list2 %}
         <li>{{n}}</li>
         {% endfor %}</strong>
       </ul>
       <br>
     </div>
     <div class="col">
       <p><strong>{{my_list3[1]}}</strong></p>
       <ul><strong>
         {% for n in my_list3 %}
         <li>{{n}}</li>
         {% endfor %}</strong>
       </ul>
       <br>
     </div>
   </div>
   <div class="row">
     <div class="col">
       <p><strong>{{my_list4[1]}}</strong></p>
       <ul><strong>
         {% for n in my_list4 %}
         <li>{{n}}</li>
         {% endfor %}</strong>
       </ul>
       <br>
     </div>
     <div class="col">
       <p><strong>{{my_list5[1]}}</strong></p>
       <ul><strong>
         {% for n in my_list5 %}
         <li>{{n}}</li>
         {% endfor %}</strong>
       </ul>
       <br>
     </div>
     <div class="col">
       <p><strong>{{my_list6[1]}}</strong></p>
       <ul><strong>
         {% for n in my_list6 %}
         <li>{{n}}</li>
         {% endfor %}</strong>
       </ul>
       <br>
     </div>
   </div>
   <div class="row">
     <div class="col">
       <h4> Adding value whether you're launching or growing—from where you are now, to where the world needs you to go.
       </h4>
       <br>
       <br>
     </div>
   </div>
     <div class="card border-success mb-3">
       <div class="card-body">
         <h4 class="card-title">Kathryn Hurchla</h4>
         <h6 class="card-subtitle mb-2 text-muted">Principal</h6>
         <p class="card-text">Kathryn is a data developer and designer. She founded Data Design Dimension in 2020 to build visual data solutions across a variety of business and social domains. She earned a master's degree in data analytics and visualization after learning the art of getting things done with technology in two world-renowned organizations. She writes and speaks about data science in the real world and contributes to uplifting data communities as a Plotly Dash Ambassador and an author liaison with Data Visualization Society's Nightingale Editorial Committee.</p>
         <br>
         <p>She chases joy by mountain biking or just practicing the Japanese art of forest bathing on local trails in Philadelphia or in the Northeast Kingdom of Vermont. A wanderlust to explore the world and communication in all its forms has led her to travel where people predominantly speak Spanish, Mandarin and Cantonese Chinese, and Central Asian languages. At home she enjoys the diversity of Philly where 14% of her neighbors were born outside the United States and 24% speak a language other than English (higher than the national average in 2019 according to <a href="https://datausa.io/" target="_blank">Data USA</a>).</p>
         <br>
         <p><em>Get to know Kathryn and what she's been reading!</em></p>

         <a href="https://sustain-our-soil.kathrynhurchla.com" class="card-link" target="_blank">Featured work</a>
         <a href="/static/KathrynHurchla_Resume.pdf" class="card-link" target="_blank">CV</a>
         <a href="/static/KathrynHurchla_bio.pdf" class="card-link" target="_blank">Bio</a>
         <a href="https://github.com/khurchla" class="card-link" target="_blank">GitHub</a>
         <a href="https://public.tableau.com/app/profile/kathryn.hurchla" class="card-link" target="_blank">Tableau Public</a>
         <a href="https://www.linkedin.com/in/kathrynhurchla/" class="card-link" target="_blank">LinkedIn</a>
         <a href="https://twitter.com/khurchla" class="card-link" target="_blank">Twitter</a>
         <a href="mailto:kathryn@dadeda.design" class="card-link" target="_blank">Email</a>
         <br>
         <br>

        <style type="text/css" media="screen">
        .gr_grid_container {
          /* customize grid container div here. eg: width: 500px; */
        }

        .gr_grid_book_container {
          /* customize book cover container div here */
          float: left;
          width: 98px;
          height: 160px;
          padding: 0px 0px;
          overflow: hidden;
        }
        </style>
        <div id="gr_grid_widget_1643389829">
          <!-- Show static html as a placeholder in case js is not enabled - javascript include will override this if things work -->

          <div class="gr_grid_container">
            <a rel="nofollow" href="https://www.goodreads.com/review/list/81284223-kathryn?shelf=favorite-books&utm_medium=api&utm_source=grid_widget" class="card-link" target="_blank">Favorite books on Goodreads</a>
            <div class="gr_grid_book_container"><a title="One Hundred Years of Solitude" rel="nofollow" href="https://www.goodreads.com/book/show/50420.One_Hundred_Years_of_Solitude" target="_blank"><img alt="One Hundred Years of Solitude" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1500529580l/50420._SX98_.jpg" /></a></div>
            <div class="gr_grid_book_container"><a title="Change by Design: How Design Thinking Transforms Organizations and Inspires Innovation" rel="nofollow" href="https://www.goodreads.com/book/show/6671664-change-by-design" target="_blank"><img alt="Change by Design: How Design Thinking Transforms Organizations and Inspires Innovation" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1348453734l/6671664._SX98_.jpg" /></a></div>
            <div class="gr_grid_book_container"><a title="A Way of Being Free" rel="nofollow" href="https://www.goodreads.com/book/show/215177.A_Way_of_Being_Free" target="_blank"><img alt="A Way of Being Free" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1172773684l/215177._SX98_.jpg" /></a></div>
            <div class="gr_grid_book_container"><a title="Never Split the Difference: Negotiating As If Your Life Depended On It" rel="nofollow" href="https://www.goodreads.com/book/show/26156469-never-split-the-difference" target="_blank"><img alt="Never Split the Difference: Negotiating As If Your Life Depended On It" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1460910517l/26156469._SX98_.jpg" /></a></div>
            <div class="gr_grid_book_container"><a title="Cartographies of Time: A History of the Timeline" rel="nofollow" href="https://www.goodreads.com/book/show/13526332-cartographies-of-time" target="_blank"><img alt="Cartographies of Time: A History of the Timeline" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1333695472l/13526332._SX98_.jpg" /></a></div>
            <div class="gr_grid_book_container"><a title="Color: A Natural History of the Palette" rel="nofollow" href="https://www.goodreads.com/book/show/19596.Color" target="_blank"><img alt="Color: A Natural History of the Palette" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1427998243l/19596._SX98_.jpg" /></a></div>
            <div class="gr_grid_book_container"><a title="Prisoners of Geography: Ten Maps That Explain Everything About the World" rel="nofollow" href="https://www.goodreads.com/book/show/27221378-prisoners-of-geography" target="_blank"><img alt="Prisoners of Geography: Ten Maps That Explain Everything About the World" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1445434321l/27221378._SX98_.jpg" /></a></div>
            <div class="gr_grid_book_container"><a title="Siddhartha" rel="nofollow" href="https://www.goodreads.com/book/show/52036.Siddhartha" target="_blank"><img alt="Siddhartha" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1629378189l/52036._SY160_.jpg" /></a></div>
            <div class="gr_grid_book_container"><a title="The Color of Law: A Forgotten History of How Our Government Segregated America" rel="nofollow" href="https://www.goodreads.com/book/show/37660666-the-color-of-law" target="_blank"><img alt="The Color of Law: A Forgotten History of How Our Government Segregated America" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1514054840l/37660666._SX98_.jpg" /></a></div>
            <br style="clear: both"/><br/><a  class="card-link" style="font-size: .9em; float: left; clear: both" rel="nofollow" href="https://www.goodreads.com/user/show/81284223-kathryn" target="_blank">Kathryn's favorite books »</a>
          <noscript><br/>Share <a rel="nofollow" href="/">book reviews</a> and ratings with Kathryn, and even join a <a rel="nofollow" href="/group">book club</a> on Goodreads.</noscript>
          </div>

        </div>
        <script src="https://www.goodreads.com/review/grid_widget/81284223?cover_size=medium&hide_link=&hide_title=true&num_books=9&order=a&shelf=favorite-books&sort=position&widget_id=1643389829" type="text/javascript" charset="utf-8"></script>



       </div>
     </div>
   </div>
   <br>
   <br>
</div>
{% endblock %}