{% extends "layout.html" %}
{% block heading %}
  {{ super() }}
{% block content %}
{% endblock %}
<body>
<div class="container">
   <div class="row">
     <div class="col">
       <h2> {{my_string}}</h2>
       <br>
     </div>
   </div>
   <div class="row">
     <div class="col">
       <h4> Business and social benefit make <i>good bedfellows for innovation.</i></h4>
       <h4 class="text-info"><i>Follow this space for 
           <!-- heart icon and activity icon-->
             impact stories <i data-feather="heart"></i><i data-feather="activity"></i><i data-feather="activity"></i>.</i></h4>
       <br>
     </div>
   </div>
   <div class="row">
     <div class="col">
        <ul style="list-style-type: none;">
          <li><b>2024</b> Harvesting time for passion projects where time seems a scarcity. The workability of wood and a dragon's reluctance to bend. &#128009;</li>
          <li><b>2023</b> Maintained calm continued presence in open source and visual data professional spaces in the Chinese Year of the Rabbit. &#128007;</li>
          <li><b>2022</b> Expanded knowledge access in tech by writing, editing, and speaking in open source and nonprofit communities in the Year of the Tiger. &#128005;</li>
          <li><a href="/static/DataDesignDaughtersLLC_15-8898_Benefit_LLC_Annual_Report_2021.pdf" target="_blank"><b>2021</b></a> Exploration of soil productivity with climate change in the Year of the Ox. &#128002;</li>
          <li><a href="/static/DataDesignDaughtersLLC_15-8898_Benefit_LLC_Annual_Report_2020.pdf" target="_blank"><b>2020</b></a> A year of international diplomacy and mentoring with the self-awareness of the Metal Rat. &#128000;</li>
        </ul>

        <br>
        <p>DADEDA celebrates working with people and organizations that operate in a socially uplifting way with vision, investment, and accountability. As a Public Benefit Company registered with the Pennsylvania Department of State during 2020 and 2021, annual benefit reports are posted here in compliance with the requirements of 15 Pa.C.S. § 8898.</p>
     </div>
   </div>
    <!-- script allows feather to replace the feather data attributes with their svg icons -->
    <script>
      feather.replace()
    </script>
</div>
</body>
{% endblock %}
