{% extends "layout.html" %}
{% block heading %}
  {{ super() }}
{% block content %}
{% endblock %}
<div class="container">
   <div class="row">
     <div class="col">
       <h2> speaks business and geek.</h2>
       <br>
       <h4>Get in touch at <a href="mailto:kathryn@dadeda.design">kathryn@dadeda.design</a>.</h4>
     </div>
   </div>
   <div class="row">
     <div class="col">
       <!-- scheduling link can be emailed in follow up to initial inquiries and not be shown on website -->
       <!-- <h4>Book a time to discuss how success looks to you at <a href="https://calendly.com/earthtokathy">Calendly.com/earthtokathy</a>.
       </h4> -->
     </div>
   </div>
</div>
{% endblock %}