{% extends "layout.html" %}
{% block heading %}
  {{ super() }}
{% block content %}
{% endblock %}
<div class="container">
   <div class="row">
       <div class="col">
           <h2>multi-channel marketing design.</h2>
           <br>
       </div>
   </div>
   <div class="row">
     <div class="col">
       <h3>Diplomacy programs map</h3>
         <h3 class="text-secondary"><i>Human centered design highlight: Implementation</i></h3>
       <br>
     </div>
   </div>
   <div class="container">
     <div class="row row-cols-2">
       <div style="margin-top: 40px;" class="col">
           <h4>Production optimization</h4>
           <br>

           <figure>
               <a><img src="/static/Freedom_Map_CDIPHL_annual_appeal.png" alt="photograph of printed annual fundraising postal mailing appeal showing Freedom Map as featured image along with its envelopes and enclosures, on a table beside a coffee cup." class="imp-responsive" width="100%"></a>
               <figcaption>Image courtesy of Andrea Silva for <b>Citizen Diplomacy International of Philadelphia</b></figcaption>
           </figure>
       </div>
       <div style="margin-top: 40px;" class="col">
           <br>
           <br>

           <p>The thematic <i>Freedom Map</i> was published in postal mail and email fundraising appeals, and was featured on the international diplomacy client's website <a href="https://www.cdiphila.org/" target="_blank">cdiphila.org</a> to drive visitors to a donation page during its campaign. </p>

           <p>Made in the open source geospatial application QGIS and Adobe graphic design tools, it was delivered in image formats for both high quality print production and optimized for fast and scalable web and mobile viewing.</p>
       </div>
       <div style="margin-top: 40px;" class="col">
           <h4>Observation</h4>
           <br>

           <p><b>Debrief</b> following the project uncovered how it raised more funds than the client's highest preceding year's campaign, and at an earlier response rate.</p>

           <p>In a <b>kickoff interview</b> the map's content was developed to appeal with urgency to its constituents from nations where its programs remain critical to human rights.</p>

           <p>Stakeholders informed <b>research</b>. Independent states were shown according to U.S. Department of State diplomatic relations at the time, reflecting the client as a representative for government exchange programs.</p>
       </div>
       <div style="margin-top: 40px;" class="col">
           <figure>
               <a><img src="/static/USstatedeptindependentstateslist_Screen_Shot.png" class="img-thumbnail" alt="Screen clipping image of the Comma Separated Values data file showing a portion of the independent states used in the map with names and other code variables used in building the map." class="img-responsive" width="100%"></a>
               <figcaption>Data pictured is from U.S. State Dept. Bureau of Intelligence and Research <a href="https://www.state.gov/independent-states-in-the-world/">Independent States in the World Fact Sheet</a>.</figcaption>
           </figure>
       </div>
       <div style="margin-top: 40px;" class="col">
           <h4>Iteration</h4>
           <br>

           <figure>
               <a><img src="/static/Freedom_Map_revision_Winkel_Tripel_Screen_Shot.png" class="img-thumbnail" alt="Draft revision of the map showing the continents and landforms in a Winkel Tripel projection that interrupts the circular globe as it flattens it onto a rectangular surface." class="img-responsive" width="100%"</a>
               <figcaption>Image revision courtesy of Christopher Sloan of National Geographic and Maryland Institute College of Art</figcaption>
           </figure>
       </div>
       <div style="margin-top: 40px;" class="col">
           <br>
           <br>

           <p><b>Feedback</b> directs future solutions. A Winkel Tripel map projection, as shown here from a critical review, would help the audience more accurately interpret where programs are and where they are most needed.</p>

           <p>Geospatial analytics requires applying <b>cartographic best practices</b> for a product's goals and what is being visualized, such as water or land. This case study required matching coordinates of base map imagery with overlaid country polygons.</p>
       </div>
     </div>
     <div class="row">
         <div style="margin-top: 40px;" class="col">

             <a><img src="/static/Kathryn_Hurchla_diplomacy_20201113_thematic_map_screen_RGB_72dpi.png" class="img-thumbnail" alt="Static thematic map, in its web optimized production format, made for a not for profit organization's fundraising appeal to show the countries participating in their international diplomacy programs." class="img-responsive" width="100%"></a>
         </div>
     </div>
     <div class="row">
         <div style="margin-top: 40px;" class="col">
           <h4>International expertise</h4>
           <br>

           <p>DADEDA is motivated and well positioned to contribute to your global data project. Founder Kathryn Hurchla has worked with international datasets throughout her career, from global operations and publication circulation for a major art museum, to leading records standardization and data protections compliance in enterprise marketing for a healthcare institution ranked by <em>Newsweek</em> as the #3 World's Best Specialized Hospitals in 2022 working around the world through humanitarian services, education and partnerships, and language interpretation and culturally sensitive patient services.</p>
           <br>

           <a href="https://github.com/search?q=topic%3Aglobal+org%3AData-Design-Dimension+fork%3Atrue" target="_blank">See more work and visual research with the <i>global</i> tag on DADEDA's GitHub.</a>
         </div>
     </div>
   </div>
</div>
{% endblock %}