{% extends "layout.html" %}
{% block heading %}
  {{ super() }}
{% block content %}
{% endblock %}
<div class="container">
   <div class="row">
       <div class="col">
           <h4>Freedom programming map</h4>

           <p>This <i>Freedom Map</i>, published in annual print and email fundraising appeals, achieved funds raised for Citizen Diplomacy International of Philadelphia more than its highest preceding year's annual campaign, and at an earlier response rate.</p>

           <p>The static map was made in the open source geospatial application QGIS for the international diplomacy not for profit 501c(3) organization's fundraising appeal, and was featured on the organization's website home page <a href="https://www.cdiphila.org/" target="_blank">cdiphila.org</a> to direct visitors to its donation page.</p>

           <p>Home countries of its International Visitors program participants were overlaid with Human Rights Index to highlight its continued relevance abroad. Data was used from the 2020 Human Rights Index report, co-published by the Cato Institute and the Fraser Institute.</p>

           <a><img src="/static/Kathryn_Hurchla_diplomacy_20201113_thematic_map_screen_RGB_72dpi.png" alt="Static thematic map made for a not for profit organization's fundraising appeal to show the countries participating in their international diplomacy programs." class="img-responsive" width="100%"></a>
       </div>
   </div>
</div>
{% endblock %}