{% extends "layout.html" %}
{% block heading %}
  {{ super() }}
{% block content %}
{% endblock %}
<div class="container">
   <div class="row">
       <div class="col">
           <h2>interactive data-intensive web app.</h2>
           <br>
       </div>
   </div>
   <div class="row">
     <div class="col">
       <h3>Sustain Our Soil</h3>
         <h3 class="text-secondary"><i>Human centered design highlight: Develop</i></h3>
       <br>
     </div>
   </div>
   <div class="container">
     <div class="row row-cols-2">
       <div style="margin-top: 40px;" class="col">
           <h4>Data product build and deployment</h4>
           <br>

           <figure>
               <a><img src="{{url_for('static',filename = 'img/Freedom_Map_CDIPHL_annual_appeal.png')}}"
                       alt="Brief video screen capture of interaction with the soil map feature of a web application that has since been retired."
                       class="imp-responsive"
                       width="100%"></a>
               <figcaption>Brief video screen capture of interaction with the soil map feature of the Sustain Our Soil web app</b></figcaption>
           </figure>
       </div>
       <div style="margin-top: 40px;" class="col">
           <br>
           <br>

           <p>The <i>Sustain our Soil for our Food</i> interactive web application was a visual appeal to food consumers to engage in their food chain and ecosystem role at the intersection of soil health and their food. This app was designed and developed by DADEDA Principal Kathryn Hurchla as her graduate degree capstone project with Maryland Institute College of Art's Data Analytics & Visualization MPS program in 2021. The app was available publicly through 2022 on a standalone domain accessible from this DADEDA website and has also been promoted through the school's website <a href="https://www.mica.edu/offices-divisions/office-of-open-studies/mps-programs/mps-capstones/department/data-analytics-and-visualization-mps/" target="_blank">mica.edu/offices-divisions/office-of-open-studies/mps-programs</a> along with other works of her graduate program cohort. </p>

           <p>Made in the open source Python programming language with Plotly Dash, Flask, and with supportive libraries, Kathryn optimized it for responsiveness and scalability with users on desktop web and mobile devices. She ran the app on the Heroku platform and deployed it using Git and the Heroku command line interface (CLI).</p>
       </div>
       <div style="margin-top: 40px;" class="col">
           <h4>Impact focused</h4>
           <br>

           <p>With 7.9 Billion humans on Earth as of November 2021, and an expected 10 billion in the year 2057 (United Nations/Worldometer), <b>we hold vast potential to sustain and restore the grand resource of our soil through the simple act of eating.</b> We have the purchasing power to support food producers, and advocacy to reach policymakers. Around such a humble routine, low effort shifts in behavior determine and drive food industry change.</p>

           <p>This project investigated the intersection of organic carbon storage in soil with climate change and food production sustainability. The intent of the web-based interactive data visualization application was to spark curiosity and compel consumers to engage in their food chain and ecosystem role, by exploring the countries some of their food comes from and the organic carbon content in soils as a metric of health that extends beyond soil to us and to the planet.</p>
       </div>
       <div style="margin-top: 40px;" class="col">
           <figure>
               <a><img src="{{url_for('static',filename = 'img/USstatedeptindependentstateslist_Screen_Shot.png')}}"
                       class="img-thumbnail"
                       alt="Screen clipping image of the Comma Separated Values data file showing a portion of the independent states used in the map with names and other code variables used in building the map."
                       class="img-responsive"
                       width="100%"></a>
               <figcaption>Data pictured is from U.S. State Dept. Bureau of Intelligence and Research Independent States in the World <a href="https://www.state.gov/independent-states-in-the-world/">Fact Sheet</a>.</figcaption>
           </figure>
       </div>
       <div style="margin-top: 40px;" class="col">
           <h4>Online optimization</h4>
           <br>

           <figure>
               <a><img src="{{url_for('static',filename = 'img/Freedom_Map_revision_Winkel_Tripel_Screen_Shot.png')}}"
                       class="img-thumbnail"
                       alt="Draft revision of the map showing the continents and landforms in a Winkel Tripel projection that interrupts the circular globe as it flattens it onto a rectangular surface."
                       class="img-responsive"
                       width="100%"</a>
               <figcaption>Image revision courtesy of Christopher Sloan, Foundations in Visualization course, Maryland Institute College of Art</figcaption>
           </figure>
       </div>
       <div style="margin-top: 40px;" class="col">
           <br>
           <br>

           <p><b>Feedback</b> directs future solutions. A Winkel Tripel map projection, as shown here from a critical review, would help the audience more accurately interpret where programs are and where they are most needed.</p>

           <p>Geospatial analytics requires applying <b>cartographic best practices</b> for a product's goals and what is being visualized, such as water or land. This case study required matching coordinates of base map imagery with overlaid country polygons.</p>
       </div>
     </div>
     <div class="row">
         <div style="margin-top: 40px;" class="col">

             <a><img src="{{url_for('static',filename = 'img/Kathryn_Hurchla_diplomacy_20201113_thematic_map_screen_RGB_72dpi.png')}}"
                     class="img-thumbnail"
                     alt="Static thematic map, in its web optimized production format, made for a not for profit organization's fundraising appeal to show the countries participating in their international diplomacy programs."
                     class="img-responsive"
                     width="100%"></a>
         </div>
     </div>
     <div class="row">
         <div style="margin-top: 40px;" class="col">
           <h4>Pythonic</h4>
           <br>

           <p>DADEDA contributes to Open Source development projects. Principal Kathryn Hurchla has worked with a variety of Python libraries and open-source applications with a focus on visual analytics and delivering learning opportunities through publications, conferences, and as an open-source ambassador.</p>
           <br>

           <p>See more DADEDA Python code with the <a href="https://github.com/search?q=topic%3Apython+org%3AData-Design-Dimension+fork%3Atrue" target="_blank"><i>python</i> tag on GitHub</a>.</p>
         </div>
     </div>
   </div>
</div>
{% endblock %}