{% extends "layout.html" %}
{% block heading %}
  {{ super() }}
{% block content %}
{% endblock %}
<div class="container">
   <div class="row">
     <div class="col">
       <h2> where data and design blur.</h2>
       <br>
     </div>
   </div>
   <div class="row">
     <div class="col">
       <h4><i>Select portfolio of projects. Select an image for more information.</i></h4>
       <br>
     </div>
   </div>
   <div class="container">
     <div class="row row-cols-2">
       <div style="margin-top: 40px;" class="col">
       <h4>Soil health web app</h4>

       <p>Interactive Python Plotly Dash application about soil carbon, food trade, population, and climate change.</p>

       <a href="https://sustain-our-soil.kathrynhurchla.com/" target="_blank"><img src="/static/Sustain_Our_Soil_DensityRanges_Screenshot_sq.png" alt="Interactive web application exploring the relationships among soil health, food trade, and climate change." class="img-responsive" width="100%"></a>
       </div>
       <div style="margin-top: 40px;" class="col">
       <h4>Mortgage barriers eBook</h4>

       <p>InDesign research brief <a href="/static/Report_2020_Costs_and_Barriers_along_the_Mortgage_Application_Timeline.epub/" target="_blank">ebook</a> or <a href="/static/Report_2020_Costs_and_Barriers_along_the_Mortgage_Application_Timeline.pdf/" target="_blank">PDF</a> with Python flow chart analyzing mortgage barriers to homeownership.</p>

       <a href="/static/Report_2020_Costs_and_Barriers_along_the_Mortgage_Application_Timeline.epub" target="_blank"><img src="/static/Report_2020_Costs_and_Barriers_along_the_Mortgage_Application_Timeline.png" alt="Page spread showing flow chart of mortgage application process data from eBook." class="img-responsive" width="100%"></a>
       </div>
       <div style="margin-top: 40px;" class="col">
         <h4>Redistricting web app</h4>

         <p>Animated Python Plotly Dash choropleth about U.S. population change and redistricting.</p>

         <a href="https://dadeda.pythonanywhere.com/" target="_blank"><img src="/static/redistricting_map.png" alt="Interactive web application with thematic map about United States redistricting." class="img-responsive" width="100%"></a>
       </div>
       <div style="margin-top: 40px;" class="col">
         <h4>City budget Tableau Story</h4>

         <p>A prototype sanitation department financial presentation to City Council.</p>

         <a href="https://public.tableau.com/app/profile/kathryn.hurchla/viz/PHL_Streets_Dept_Case_for_Investment/InvestasOneCouncilNowTowardsaZeroWasteLitter-freeCityby2035" target="_blank"><img src="/static/PHL_Streets_Dept_Case_for_Investment.png" alt="Interactive Tableau Story dashboard and marketing proposal for a City of Philadelphia Streets Department campaign." class="img-responsive" width="100%"></a>
       </div>
       <div style="margin-top: 40px;" class="col">
       <h4>Freedom programming map</h4>

       <p>Static map made in QGIS for a diplomacy nonprofit's fundraising appeal.</p>

       <a href="/freedom-map" target="_blank"><img src="/static/Kathryn_Hurchla_diplomacy_20201113_thematic_map_screen_RGB_72dpi.png" alt="Static thematic map made for a not for profit organization's fundraising appeal to show the countries participating in their international diplomacy programs." class="img-responsive" width="100%"></a>
       </div>
       <div style="margin-top: 40px;" class="col">
       <h4>Open source programming code</h4>

       <p>View code repositories on GitHub profile, or partner on a public project!</p>

       <a href="https://github.com/Data-Design-Dimension" target="_blank"><img src="/static/coding_data_prep_screenshot.png" alt="" class="img-responsive" width="100%"></a>
       </div>
     </div>
   </div>
</div>
{% endblock %}